.card-header
    i.fa.fa-file-text
    | Users
.card-1.layout-container
    table.table.table-striped.table-hover.table-condensed.users-container
        thead
            tr
                td
                    |Username
                td
                    |First name
                td
                    |Last name
                td
                    |Email
                td
                    |Password
                td
            tr
                td
                    input(name="username").form-username
                td
                    input(name="fname").form-fname
                td
                    input(name="lname").form-lname
                td
                    input(name="email").form-email
                td
                    input(name="password" type="password").form-password
                td
                    button.btn.btn-primary.addUser
                        |Add
