.card-header
    i.fa.fa-file-text
    | Users
.card-1.layout-container
    table.table.table-striped.table-hover.table-condensed.users-container
        thead
            tr
                td.col-sm-2
                    | Username
                td.col-sm-2
                    | First name
                td.col-sm-2
                    | Last name
                td.col-sm-2
                    | Email
                td.col-sm-2
                    | Password
                td.col-md-2
                    |UserAvatar
                td
                td

        tr
            td
                input(name="username",class="col-sm-12").form-username
            td
                input(name="fname",class="col-sm-12").form-fname
            td
                input(name="lname",class="col-sm-12").form-lname
            td
                input(name="email",class="col-sm-12").form-email
            td
                input(name="password" type="password",class="col-sm-12").form-password
            td
                input(name="userAvatar",class="col-sm-12").form-userAvatar
            td
            td
                button.btn.btn-primary.addUser
                    | Add
