td.user-individualTaskPlanClickAbleRow
    <%= obj.model.name %>
td.user-individualTaskPlanClickAbleRow
    <%= obj.model.description %>
td(class="not-clickable")
td(class="not-clickable")
    button.btn.btn-danger.removeUserTaskPlan
        i.fa.fa-trash
