td
    <%= obj.model.username %>
td
    <%= obj.model.name %>
td
    <%= obj.model.surname %>
td
    <%= obj.model.email %>
td
    |********
td
    <%= obj.model.userRole %>
td

td
    button.btn.btn-danger.removeUser
        i.fa.fa-trash