.userDetails-view
    .user-details
        h2
            <%= obj.model.name %> <%= obj.model.surname %>
        .description
            label
                | Username:
                <%= obj.model.username %>
            br
            label
                | Email:
                <%= obj.model.email %>
            br
            label
                | Phone:
                <%= obj.model.phone %>
            br
            label
                | Address:
                <%= obj.model.address %>
            br
            label
                | Added On:
                <%= moment(obj.model.addedOn).format("DD-MM-YYYY") %>
    .user-details-edit
        h3.edit-UserTitle
            | Edit user details:
        form.col-md-12.editForm(id="editUserFrom")
            .editUserName.col-md-5
                label
                    | Name:
                input.form-control(type="text", id="firstName", placeholder="Name")
                br
                label
                    | Username:
                input.form-control(type="text", id="username", placeholder="Username")
                br
                label
                    | Email:
                input.form-control(type="text", id="email", placeholder="Email")
                br
            .editSurname.col-md-5
                label
                    | Surname:
                input.form-control( id="surname", placeholder="Surname")
                br
                label
                    | Password:
                input.form-control(type="password", id="password", placeholder="Password")
                br
                input.btn.btn-info(type="submit" form="editUserFrom" value=" Save Changes" id="userEditButton")
            .editPhone.col-md-8
                label
                    | Phone:
                input.form-control( id="phone", placeholder="Phone")
                br
                label
                    | Address:
                input.form-control(type="text", id="address", placeholder="Address")
                br
