td.user-clickAbleRow
    <%= obj.model.username %>
td.user-clickAbleRow
    <%= obj.model.name %>
td.user-clickAbleRow
    <%= obj.model.surname %>
td.user-clickAbleRow
    <%= obj.model.email %>
td.user-clickAbleRow
    |********
td.user-clickAbleRow

td(class="not-clickable")

td(class="not-clickable")
    button.btn.btn-danger.removeUser
        i.fa.fa-trash