
//
   Created by amusat on 5/23/2016.

#formContent.col-md-6
    h2.titleForm
        |New TaskPlan

    .input-group
        input#taskPlanName.text.form-control(placeholder="Nume task" aria-describedby="basic-addon1")
    br
    .input-group
        textarea#taskPlanDescription.text.form-control(placeholder="Descriere task" aria-describedby="basic-addon1")
    br
    button#saveButton.btn.btn-default
        | Save
