#formContent.form-inline.col-md-4.col-md-offset-4
    h2.titleForm
        |Adauga TaskPlan

    .input-group
        label(for="taskPlanName")
            |Denumire Taskplan:
        input#taskPlanName.text.form-control(placeholder="Nume task" aria-describedby="basic-addon1")
    br
    .input-group
        label(for="taskPlanDescription")
            |Descriere Taskplan:
        textarea#taskPlanDescription.text.form-control(placeholder="Descriere task" aria-describedby="basic-addon1")
    br
    button#saveButton.btn.btn-info
        | Adauga Taskplan
