#taskPlan-list
    table.table
        thead
            tr
                th.warning
                    | Denumire TaskPlan
                th.warning
                    | Descriere TaskPlan
                th.warning
                    | Update
                th.warning
                    |Add
                th.danger
                    | Delete
        tbody
            tr
                td
                    a(href!='#show-project/<%- getGroupId() %>/show-taskPlan/<%- model.id %>')
                        <%- model.name %>
                td
                    <%-model.description %>
                td
                    a(href!='#show-project/<%- getGroupId() %>/update-taskPlan/<%- model.id %>')
                        img(src="images/update.png" style="width:16px;height:16px")
                td
                    a(href!='#show-project/<%- getGroupId() %>/create-taskPlan')
                        img(src="images/buttonadd.png" style="width:16px;height:16px")
                td(style="text-align:center").danger
                    img(src="images/delete.png" style="width:16px;height:16px")#deleteTaskPlan