#taskPlan-list
    table.table
        thead
            tr
                th
                    | Denumire TaskPlan
                th
                    | Descriere TaskPlan
                th
                    | Status
                th
                    | update
        tbody
            tr
                td
                    a(href!='#show-project/<%- getGroupId() %>/show-taskPlan/<%- model.id %>')
                        <%- model.name %>
                td
                    <%-model.description %>
                td
                    <%- model.status %>
                td
                    a(href!='#show-project/<%- getGroupId() %>/update-taskPlan/<%- model.id %>')
                        img(src="images/update.png" style="width:16px;height:16px")