.nameShowProject
   |Nume proiect:  <%- model.name %> &nbsp; Descriere proiect: <%-model.descriptions %> &nbsp; Status:  <%- model.status %>
   br
   span
      |Numarul taskPlanurilor &nbsp;
   span(id="count-task")


