#tasks-list
    table.table
        thead
            tr.success
                th
                    | Denumire Task
                th
                    | Descriere Task
                th
                    | Update
        tbody
            tr
                td
                    a(href!='<%- getUrl() %>/task/<%- model.id %>')
                        <%- model.name %>
                td
                    <%-model.description %>
                td
                    a(href!='<%- getUrl() %>/update-task/<%- model.id %>')
                        img(src="images/update.png" style="width:16px;height:16px")