.card-header
    i.fa.fa-check
    | Badges
.card-1.layout-container
    table.table.table-striped.table-hover.table-condensed.assignBadges
        thead
            tr
                td
                    | Name
                td
                    | Description
                td
                    | Points
                td
                    | Image
                td
