.admin-task
    .admin-task-details
        h2
          <%= model.name %>
        .description
                <%= model.description %>
        | Task details and Assigned Badges
    .admin-task-actions
            select.admin-taskStatusSelect(class="form-control")
                option(value="TODO")
                    | To do
                option(value="IN_PROGRESS")
                    | In progress
                option(value="DONE")
                    | Done
            br
            button.btn.btn-primary.admin-taskUpdateButton
                | Update task
            #admin-updateSuccessfully
                | Successfully Updated!