.admin-task
    .admin-task-details
        h2
          <%= model.name %>
        .description
                <%= model.description %>
        .description
            label
                |Status:
            <%= model.status %>
        | Task details and Assigned Badges
    .admin-task-details-edit
        h3.edit-taskTitle
            | Edit Task details:
        form.col-md-8.editForm(id="editTaskFrom")
            .editTaskName.col-md-6
                label
                    | TaskName:
                input.form-control(type="text", id="taskName", placeholder="TaskName")
                label
                    | Status:
                select.admin-taskStatusSelect(class="form-control")
                    option(value="TODO")
                        | To do
                    option(value="IN_PROGRESS")
                        | In progress
                    option(value="DONE")
                        | Done
                button.btn.btn-primary.admin-taskUpdateButton(type="submit", form="editTaskFrom")
                    | Save Changes
            .editTaskDescription.col-md-6
                label
                    | TaskDescription:
                textarea.form-control( id="taskDescription", placeholder="TaskDescription")

