script(src="scripts/sidebar.js")
nav(class="navbar navbar-default no-margin")
        .navbar-header.fixed-brand
            button(type="button" class="navbar-toggle collapsed" data-toggle="collapse"  id="menu-toggle")
                span( class="glyphicon glyphicon-th-large" aria-hidden="true")
            img(src="images/logo.png")
        .collapse.navbar-collapse#bs-example-navbar-collapse-1
            ul.nav.navbar-nav
                li.active
                    button.navbar-toggle.collapse.in(data-toggle="collapse" id="menu-toggle-2")
                        span.glyphicon.glyphicon-th-large(aria-hidden="true")
            #show-users.pull-right