table.table
    tbody
        tr
            td
                img(src!="<%= model.image %>")#avatar-icon
            td
                |Userrname:
            td
                <%- model.name %>
            td
                b#logout
                    |Logout