<% if (obj.model) { %>
.user-details-container
    .user-avatar
        img(src!="<%= obj.model.image %>")
    .user-data
        .user-names
            <%- obj.model.name %>
            <%- obj.model.surname %>
        .user-email
            span.border
                <%- obj.model.email %>
        .user-update
            a(href!="#updateInfo/<%- obj.model.id %>" )
                button.btn-update
                    | Update Info
<% } %>