.col-md-3
    .project-details
        h1.nameShowProject
            a(href!='#show-project/<%- model.id %>')
                <%- model.name %>
        h1
            <%-model.descriptions %>
        h1
            <%- model.status %>
#number