.col-md-2.col-md-offset-1.badgeGroup
    img(src!="<%= model.image %>" style="width:100px;height:100px;")#badgeDetails
    .badgeDetails
        span
            |Denumire: &nbsp; <%- model.name %>
            br
            |Descriere: &nbsp; <%- model.description %>
            br
            |Puncte: &nbsp; <%- model.points %> &nbsp;
            img(src="images/rewards.jpg" style="width:20px;height:20px")