#badge-list
    table.table
        thead
            tr.success
                th
                    | Denumire Badge
                th
                    | Descriere Badge
        tbody
            tr
                td
                    a(href!='<%- getUrl() %>/badge')
                        <%- model.name %>
                td
                    <%-model.description %>
