.card-header
    i.fa.fa-file-text
    | Badges
.card-1.layout-container
    table.table.table-striped.table-hover.table-condensed.badges-container
        thead
            tr
                td
                    | Name
                td
                    | Description
                td
                    |Image
                td
                    |Points
                td
            tr
                td
                    input(name="name").form-name
                td
                    textarea(name="description", style="width:100%").form-description
                td
                    input(name="image").form-image
                td
                    input(name="points",type="number").form-points
                td
                    button.btn.btn-primary.addBadge
                        | Add