.card-header
    i.fa.fa-user-plus
    | AssignUsersToProject
.card-1.layout-container
    table.table.table-striped.table-hover.table-condensed.users-to-assign
        thead
            tr
                td
                    | Name
                td
                    | UserName
                td
                    | Surname
                td
                    | Email
                td
                    | Phone
                td
                    | Address
                td
                    | AddedOn
                td