td
    <%= obj.model.name %>
td
    <%= obj.model.username %>
td
    <%= obj.model.surname %>
td
    <%= obj.model.email %>
td
    <%= obj.model.phone %>
td
    <%= obj.model.address %>
td
    <%= obj.model.addedOn %>
td
    button.btn.btn-primary.assignToProject
        | AssignToProject
