.col-md-2.badgeGroup#badge-list
    img(src!="<%= obj.model.image %>" style="width:100px;height:100px;" )#badgeDetails
    .badgeDetails
        span
            |Denumire: &nbsp; <%- obj.model.name %>
            br
            |Descriere: &nbsp; <%- obj.model.description %>
            br
            |Puncte: &nbsp; <%- model.points %> &nbsp;
            img(src="images/rewards.jpg" style="width:20px;height:20px")