.card-header
    i.fa.fa-pencil-square-o
    | UpdateInfo
.individual-task-plans-container.col-md-12
    .col-md-2
        label
            |Name:
        input(type="text" id="Fname" placeholder="Name" class="form-control" )
        br
        label
            | Surname:
        input(type="text" id="surname" placeholder="Surname" class="form-control")
        br
        label
            | Password:
        input(type="password" id="password" placeholder="Password" class="form-control" )
        br
        input(type="submit",form="imageUploadForm", value="Update Info" id = "updateInfo" class="btn btn-success")

    .col-md-4.UplForm
        label
            | Upload a Profile Picture:
        form(method="POST" enctype="multipart/form-data" id="imageUploadForm")
            input.userPictureUpdate(type="file" name="uploadedFile" id="uploadedFile"   class="form-control filestyle custom-file-input" )
            #uploadedSuccessfully

        .otherInfo
            label
                | Address:
            input(type="text" id="address" placeholder="Address" class="form-control" )
            br
            label
                | Phone:
            input(type="text" id="phone" placeholder="Phone" class="form-control" )
            br
