//
   Created by amusat on 5/23/2016.

#formContent.col-md-6
    h2.titleForm
        |NNew Project

    .input-group
        input#projectName.text.form-control(placeholder="Numele proiectului" aria-describedby="basic-addon1")
    br
    .input-group
        textarea#projectDescription.text.form-control(placeholder="Descriere proiect" aria-describedby="basic-addon1")
    br
    button#saveButton.btn.btn-default
        | Save
