.card-header
    i.fa.fa-plus
    | Assign Badge
.card-1.layout-container
    table.table.table-striped.table-hover.table-condensed.assignBadge
        thead
            tr
                td
                    | Name
                td
                    | Points
                td
                    | Description
                td
                    | Image
                td
