.card-header
    i.fa.fa-briefcase
    | TaskPlans
.card-1.layout-container
    table.table.table-striped.table-hover.table-condensed.taskplans-container
        thead
            tr
                td
                    | Name
                td
                    | Description
                td
                td

            tr
                td
                    input(name="name" class="form-control").form-name
                td
                    textarea(name="description", style="width:100%" class="form-control").form-description
                td

                td
                    button.btn.btn-primary.addTaskplan
                        | Add
