.card-header
    i.fa.fa-file-text
    | TaskPlans
.card-1.layout-container
    table.table.table-striped.table-hover.table-condensed.taskplans-container
        thead
            tr
                td
                    | Name
                td
                    | Description
                td
                td

            tr
                td
                    input(name="name").form-name
                td
                    textarea(name="description", style="width:100%").form-description
                td

                td
                    button.btn.btn-primary.addTaskplan
                        | Add
