.card-header
    i.fa.fa-file-text
    | TaskPlan
.card-1.layout-container.taskplan-details-container
.card-1.layout-container.taskplans-container
.card-1.layout-container.badges-container
.card-1.layout-container.awardBadge-container