.card-header
    i.fa.fa-briefcase
    | TaskPlan
.card-1.layout-container.taskplan-details-container
.card-1.layout-container.taskplans-container
.card-1.layout-container.assigned-badges-container
.card-1.layout-container.awardBadge-container