.taskPlanDetails-view
    .taskPlan-details
        h2
            <%= obj.model.name %>
        .description
            <%= obj.model.description %>
        | TaskPlan details and assigned Tasks
    .taskPlan-details-edit
        h3.taskPlanEdit-title
            | Edit taskPlan details:
        form.col-md-8.editForm(id="editTaskPlanFrom")
            .editTaskPlanName.col-md-6
                label
                    | TaskPlanName:
                input.form-control(type="text", id="taskPlanName", placeholder="TaskPlanName")
                br
            .editTaskPlanDescription.col-md-6
                label
                    | TaskPlanDescription:
                textarea.form-control( id="taskPlanDescription", placeholder="TaskPlanDescription")
            #taskPlanEditBtn
                input.btn.btn-info(type="submit" form="editTaskPlanFrom" value=" Save Changes" id="taskPlanEditButton")
