.award-status
    .status
        |Not yet awarded
.badge-name-container
    .name
        <%= obj.model.name %>
.badge-points-container
    .points
        <%= obj.model.points %>
    .pts
        | pts
.badge-details.badge
    figure.hexagon-outer
        figure.hexagon-mask
        figure.hexagon-inner.green
        span.overlay
