.card-header
    i.fa.fa-file-text
    | Award Badge
.card-1.layout-container
    table.table.table-striped.table-hover.table-condensed.assignBadge
        thead
            tr
                td
                    | Name
                td
                    | Description
                td
                    | Points
                td

