.card-header
    i.fa.fa-plus
    | Assign IndividualTaskPlan
.card-1.layout-container
    table.table.table-striped.table-hover.table-condensed.individual-taskPlans-container
        thead
            tr
                td
                    | Name
                td
                    | Description
                td
                td
            tr
                td
                    input(id="taskPlanName",name="name" class="form-control").form-name
                td
                    textarea(id="taskPlanDescription",name="description", style="width:100%" class="form-control").form-description
                td

                td
                    button.btn.btn-primary.addNewTaskplan
                        | Add