td
    <%= obj.model.name %>
td
    <%= obj.model.description %>
td
    button(id="assignTaskPlanButton").btn.btn-primary.assignIndividualTaskPlan
        | Assign TaskPlan
td
    button.btn.btn-danger.removeIndividualTaskPlan
        i.fa.fa-trash
