.card-header
    i.fa.fa-briefcase
    | TaskPlans
.card-1.layout-container
    table.table.table-striped.table-hover.table-condensed.assignedUserProjectTaskPlans
        thead
            tr
                td
                    | Name
                td
                    | Description
                td