.card-header
    i.fa.fa-user
    | AssignedUser
.card-1.layout-container.assignedUserDetails
.card-1.layout-container.userTaskPlans-container
.card-1.layout-container.userProjectDetails
.card-1.layout-container.userProjectTaskPlans-container