.card-header
    i.fa.fa-briefcase
    | AssignedProjectTaskPlans
.card-1.layout-container
    table.table.table-striped.table-hover.table-condensed.taskplans-container
        thead
            tr
                td
                    | Name
                td
                    | Description
                td