.details-view
    .project-details
        h2
            <%= obj.model.name %>
        .description
            label
                | Description:
                <%= obj.model.descriptions %>
            br
            label
                | Created On:
                <%= moment(obj.model.createdOn).format("DD-MM-YYYY") %>
        | TaskPlans, Users and Assigned Users
    .project-details-edit
        h3.edit-title
            | Edit project details:
        form.col-md-8.editForm(id="editFrom")
            .editProjectName.col-md-6
                label
                    | ProjectName:
                input.form-control(type="text", id="projectName", placeholder="ProjectName")
                br
            .editDescription.col-md-6
                label
                    | ProjectDescription:
                textarea.form-control( id="projectDescription", placeholder="ProjectDescription")
            #editBtn
                input.btn.btn-info(type="submit" form="editFrom" value=" Save Changes" id="projectEditBtn")