.card-header
    i.fa.fa-users
    | AssignedUsers
.card-1.layout-container
    table.table.table-striped.table-hover.table-condensed.project-users
        thead
            tr
                td
                    | Name
                td
                    | UserName
                td
                    | Surname
                td
                    | Email
                td
                    | Phone
                td
                    | Address
                td
                    | AddedOn
                td

