.card-header
    i.fa.fa-th
    | Project
.card-1.layout-container.project-details-container
.card-1.layout-container.taskplans-container
.card-1.layout-container.project-users
.card-1.layout-container.users-to-assign



