
//
   Created by amusat on 5/23/2016.

#formContent.col-md-6
    h2.titleForm
        |New Badge
    .input-group
        input#badgeName.text.form-control(placeholder="Nume badge" aria-describedby="basic-addon1")
    br
    .input-group
        textarea#badgeDescription.text.form-control(placeholder="Descriere badge" aria-describedby="basic-addon1")
    br
    button#saveButton.btn.btn-default
        | Save
