table
    tr
        td
            a(href!='#show-project/<%- model.id %>')
                <%- model.name %>
        td
            <%-model.descriptions %>
        td
            <%- model.status %>

#number