#formContent.form-inline.col-md-4.col-md-offset-4
    h2.titleForm
        |Update Task

    .input-group
        input#updateName.text.form-control(value!="<%- model.name %>" aria-describedby="basic-addon1")
        |Nume Task
    br
    .input-group
        |Descriere Task
        textarea#updateDescription.text.form-control(aria-describedby="basic-addon1")
            <%- model.description %>
    br
    .input-group
        label(for="updateStatus")
            | Status &nbsp;&nbsp;
        select#updateStatus.text.form-control(value!="<%- model.status %>" aria-describedby="basic-addon1")
            option(value="Waiting Start")
                | Waiting Start
            option(value='In Progress')
                | In progress
            option(value='Completed')
                | Completed
    br
    button#saveButton.btn.btn-success
        | Update Task

