#formContent.col-md-6
    h2.titleForm
        | Update Task

    .input-group
        input#updateName.text.form-control(value!="<%- model.name %>" aria-describedby="basic-addon1")
        |Nume Task
    br
    .input-group
        |Descriere TaskPlan
        textarea#updateDescription.text.form-control(aria-describedby="basic-addon1")
            <%- model.description %>

    br
    button#saveButton.btn.btn-success
        | Update Task

