ul.sidebar-nav.nav-pills.nav-stacked#menu
    li.active
        a(href="#")
            span.fa-stack.fa-lg.pull-left
               i.fa.fa-dashboard.fa-stack-1x
            |Dashboard
    li.active
        a(href="#show-projects")
            span.fa-stack.fa-lg.pull-left
               i.fa.fa-th.fa-stack-1x
            |Projects
    li.active
        a(href="#assignedTasks")
            span.fa-stack.fa-lg.pull-left
               i.fa.fa-tasks.fa-stack-1x
            |Tasks
    li.active
        a(href="#userBadge")
            span.fa-stack.fa-lg.pull-left
               i.fa.fa-gamepad.fa-stack-1x
            |Badges
