#home-layout
	.container-fluid.xyz
		.row
			.col-lg-12
				.col-lg-4.col-xs-8.col-lg-offset-4.col-xs-offset-2
					#show-user
			.col-lg-12
			.col-lg-3.col-xs-6
				.small-box.bg-aqua
					.inner
						h3#count-project
						p
							| Projects
					.icon
						i(class="ion ion-grid")
			.col-lg-3.col-xs-6
				.small-box.bg-green
					.inner
						h3#count-task
						p
							| Tasks completed
					.icon
						i(class="ion ion-android-checkmark-circle")
ul#project-elements
	li