#home-layout
	.container-fluid.xyz
		.row.layout-separator
			.col-lg-12
				#user-badges
		.row.layout-separator
			.col-lg-12
				#assigned-projects
		.row.layout-separator
			.col-lg-12
				#individual-task-plans