.login-form
    .form
        input.form-control(type='text', placeholder='Username', autofocus='' id="username-input")
        input.form-control(type='password', placeholder='Password' id="password-input")
        #showError
            |Invalid username or password
        button.btn.btn-large.btn-danger(type='submit' id="login-button")
            |Log in >