form.form-signin.mg-btm()(id="login-form")
    h3.heading-desc
        button.close.pull-right(type='button', aria-hidden='true')
        | 		Login to SkillCATch

    .main
        input.form-control(type='text', placeholder='Username', autofocus='' id="username-input")
        input.form-control(type='password', placeholder='Password' id="password-input")
        span.clearfix
    .login-footer
        .row
            .col-xs-12.col-md-12
                button.btn.btn-large.btn-danger.pull-right(type='submit' id="login-button") Login