#formContent.form-inline.col-md-4.col-md-offset-4
    h2.titleForm
        | Update TaskPlan

    .input-group
        input#updateName.text.form-control(value!="<%- model.name %>" aria-describedby="basic-addon1")
        |Nume TaskPlan
    br
    .input-group
        |Descriere TaskPlan
        textarea#updateDescription.text.form-control(aria-describedby="basic-addon1")
            <%- model.description %>
    br
    button#saveButtonCom.btn.btn-success
        | Update taskPlan