.taskplan-container.card-1
    .taskplan-overview-container
        .taskplan-header
            <%= obj.model.name %>
        .taskplan-description
            <%= obj.model.description %>
    .badges-container
.tasks-main-container
    .heading
        |Tasks
    .tasks-container