.detailed-project-overview
    .project-overview-head
        .project-header
            .project-name
                <%= obj.model.name %>
            .project-description
                <%= obj.model.description %>
        .project-body-container
            .points
                .total
                    .badge-container
                        .badges-available-container
                            .heading
                                |Available
                            .content
                                <%= obj.getAvailableBadges() %>
                        .badge
                            figure.hexagon-outer
                                figure.hexagon-mask
                                figure.hexagon-inner.grey
                                span.overlay
                    .points-count
                        |<%= obj.getAvailablePoints() %>
                        .pts
                            |pts
                .awarded
                    .badge-container
                        .badges-available-container
                            .heading
                                |Awarded
                            .content
                                |<%= obj.getAwardedBadges() %>
                        .badge
                            figure.hexagon-outer
                                figure.hexagon-mask
                                figure.hexagon-inner.green
                                span.overlay
                    .points-count
                        |<%= obj.getAwardedPoints() %>
                        .pts
                            |pts
            .project-body
                .tasks
                    .total
                        .heading
                            |Number of tasks left to do
                        .content
                            <%= obj.getAvailableTasks() %>
                            |tasks
                    .done
                        .heading
                            |Number of tasks done
                        .content
                            <%= obj.getAwardedTasks() %>
                            |tasks
                .project-progress
    .project-taskplans
        .heading
            |Task plans
        .taskplan-container.card-1
            .taskplan-overview-container
                .taskplan-header
                    |Starter taskplan
                .taskplan-description
                    |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc gravida pharetra risus nec lobortis. In a posuere tellus. Cras dapibus, eros at facilisis vulputate, velit turpis malesuada lacus, ut faucibus nulla mi vitae risus. Donec non eros pulvinar quam maximus sodales. Sed ullamcorper fringilla ipsum, in maximus dui. Quisque egestas tortor a iaculis pretium. Aliquam ornare eros dolor, vitae condimentum metus convallis vel. Nam a scelerisque nulla. In semper nec purus et posuere. Nulla eu tortor metus. Nunc ut risus augue. Mauris ac consectetur metus. Quisque nec consequat erat. Proin interdum eros ac quam convallis, in pretium turpis rhoncus. Pellentesque rhoncus felis sed quam tempus mattis.
            .taskplan-tasks-container
                ul.tasks
                    li
                        |aaaa
                    li
                        |aaaa
