.task
    .task-actions
        select.taskStatusSelect
            option(value="TODO")
                |To do
            option(value="IN_PROGRESS")
                |In progress
            option(value="DONE")
                |Done
        button.btn.btn-primary.taskUpdateButton
            |Update task
    .task-details
        .task-name
            <%= obj.model.name %>
        .task-details
            <%= obj.model.description %>
    .badges-container