#project-content
    h3
        |Proiecte
    #show-projectDetails
    #add-project.pull-right
        a(href="#create-project")
             img(src="images/buttonadd.png" style="width:30px; height:30px; padding:5px;")
        a(href="#create-project")
            button.btn.btn-info
                | Add Project

