#project-list
    table.table
        thead
            tr
                th(style="text-align:center").success
                    |Denumire Proiect
                th(style="text-align:center").success
                    |Descriere Proiect
                th(style="text-align:center").success
                    |Status
                th(style="text-align:center").success
                    |update
                th(style="text-align:center").danger
                    |Delete
        tbody
            tr
                td(style="text-align:center")
                    a(href!='#show-project/<%- model.id %>')
                        <%- model.name %>
                td(style="text-align:center")
                    <%-model.descriptions %>
                td(style="text-align:center")
                    <%- model.status %>
                td(style="text-align:center")
                    a(href!='#update-project/<%- model.id %>')
                        img(src="images/update.png" style="width:16px;height:16px")
                td(style="text-align:center").danger
                      img(src="images/delete.png" style="width:16px;height:16px")#deleteProject
